{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier", "googleappsscript"],
  "env": {
    "googleappsscript/googleappsscript": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "error",
    //"no-param-reassign": ["error", { "props": false }],
    // eslint consistent-return: ["error", { "treatUndefinedAsUnspecified": true }],
    "indent": ["error", 2]
  },
  "globals": {
    "OAuth1": true,
    "OAuth2": true,
    "FirebaseApp": true
  }
}
